@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

$Orange: #ff7d1a;
$Orange-light: #fc8b35;
$Pale: #ffede0;
$Very-dark-blue: #1d2025;
$Dark-grayish-blue: #68707d;
$Grayish-blue: #b6bcc8;
$Light-grayish-blue: #f7f8fd;
$White: #ffffff;
$Indice-cart-color: #ff0000;
$Black: rgb(0, 0, 0);//75% opacity para el ligth bg

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    width: 100vw;
    header{
        display: flex;
        width: 100vw;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        #menu-icon{
            margin: 0 10px;
            &:hover{
                cursor: pointer;
            }
        }
        #avatar{
            width: 30px;
        }
    }
    main{
        width: 100vw;
        section{
            width: 100%;
            #img-principal{
                width: 100%;
                height: 60vh;
            }
            .prev{
                position: absolute;
                top: 200px;
                left: 10px;
                font-size: 2rem;
                color: $White;
                z-index: 1;
            }
            .next{
                position: absolute;
                top: 200px;
                right: 10px;
                font-size: 2rem;
                color: $White;
            }
            .img-miniaturas{
                display: none;
            }
        }
    }
}

nav ul{
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 40px;
    background-color: $White;
    list-style: none;
    padding: 20px;
    width: 40%;
    height: 100vh;
    z-index: 2;
    #close{
        margin: 0 0 20px 0;
        &:hover{
            cursor: pointer;
        }
    }
    li{
        margin: 10px 0;
        font-size: 1.2rem;
        font-weight: 700;
    }
}

#indice-cart{
    text-align: center;
    font-size: .7rem;
    font-weight: 700;
    position: absolute;
    background-color: $Indice-cart-color;
    color: $White;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 10px;
    right: 47px;
}

#carro{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 97%;
    height: 35vh;
    right: 50px;
    background-color: $White;
    border: 0;
    border-radius: 10px;
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.3);
    h4{
        margin-top: 10px;
    }
    section{
        display: flex;
        width: 100%;
        padding: 20px 10px;
        justify-content: space-between;
        align-items: center;
        img{
            width: 60px;
            border-radius: 5px;
        }
        #cart-info{
            #product-cart{
                font-size: 1.1rem;
                color: $Dark-grayish-blue;
            }
            #total-cart{
                font-size: 1rem;
                color: $Dark-grayish-blue;
                .precio-final{
                    color: $Black;
                }
            }
        }
    }
    #check{
        margin: 10px 0;
        width: 80%;
        height: 2.5rem;
        background: linear-gradient(to bottom, $Orange-light 50%, $Orange 50%);
        color: $White;
        border: 0;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 700;
    }
}

.section-info-art{
    padding: 20px;
    h6{
        margin-bottom: 10px;
        text-transform: uppercase;
        color: $Orange;
    }
    h1{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    p{
        font-size: 0.95rem;
        margin-bottom: 1.5rem;
    }
    #price{
        display: flex;
        justify-content: space-between;
        .precio-art{
            display: flex;
            gap: 1rem;
            .descuento{
                font-weight: 700;
                color: $Orange;
                background-color: $Pale;
                padding: 5px;
                border-radius: 5px;
            }
        }
        .old-price{
            font-weight: 700;
            color: $Dark-grayish-blue;
            text-decoration: line-through;
        }
    }
    form{
        .cantidad{
            position: relative;
            input{
                width: 100%;
                height: 2.2rem;
                border-radius: 5px;
                background-color: $Light-grayish-blue;
                text-align: center;
                margin-bottom: 10px;
                border: 1px solid $Orange-light;
            }
            #menos{
                position: absolute;
                left: 12px;
                top: 17px;
            }
            #mas{
                position: absolute;
                right: 12px;
                top: 12px;
            }
        }
        button{
            width: 100%;
            height: 3rem;
            font-size: 1.2rem;
            border: 0;
            color: $White;
            font-weight: 700;
            background: linear-gradient(to bottom, $Orange-light 50%, $Orange 50%);
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                margin-right: 5px;
            }
        }
    }
}


@media (min-width:1100px){
    body{
        header{
            border-bottom: 1px solid $Grayish-blue;
            #menu-icon{
                display: none;
            }
            #indice-cart{
                top: 20px;
                right: 40px;
                width: 20px;
                height: 20px;
                font-size: 1.1rem;
            }
            #cart{
                width: 40px;
                height: 30px;
                margin-right: 15px;
            }
            #avatar{
                width: 30px;
            }
        }
        main{
            display: flex;
            gap: 80px;
            padding: 4rem 4rem 4rem 4rem;
            section{
                position: relative;
                #img-principal{
                    border-radius: 10px;
                }
                .img-miniaturas{
                    display: flex;
                    gap: 2rem;
                    padding: 1.5rem 0;
                    img{
                        width: 100px;
                        border-radius: 10px;
                    }
                }
                .prev{
                    left: 75px;
                    display: none;
                }
                .next{
                    display: none;
                }
            }
        }
    }
    
    nav{
        width: 50%;
        margin-right: 200px;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: static;
        left: 0;
        top: 0;
        background-color: transparent;
        list-style: none;
        padding: 10px;
        width: auto;
        height: auto;
        z-index: 0;
        #close{
            display: none;
        }
        li{
            margin: 10px 0;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
    
    #carro{
        width: 40%;
        height: 40vh;
        z-index: 2;
        h4{
            margin-top: 20px;
            font-size: 1.5rem;
        }
        section{
            img{
                width: 90px;
            }
            #cart-info{
                #product-cart{
                    font-size: 1.3rem;
                }
                #total-cart{
                    font-size: 1.2rem;
                    .precio-final{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        #check{
            margin: 10px 0;
            width: 90%;
            height: 3.5rem;
            font-size: 1.4rem;
        }
    }
    
    .section-info-art{
        padding: 3rem 0;
        h6{
            font-size: 1.2rem;
        }
        #price{
            flex-direction: column;
        }
        form{
            display: flex;
            gap: 1rem;
            .cantidad{
                input{
                    height: 3rem;
                    font-size: 1.5rem;
                    margin: 0;
                }
                #menos{
                    top: 23px;
                }
                #mas{
                    top: 17px;
                }
            }
            button{
                width: 90%;
            }
        }
    }
}